<template>
  <div class="uni-logos">
    <a
      href="https://www.fh-potsdam.de/"
      target="_blank"
      class="logo"
    >
      <img
        src="~/assets/img/FHP_logo.svg"
        alt=""
      >
    </a>

    <a
      href="http://hyperstudio.mit.edu/"
      target="_blank"
      class="logo"
    >
      <img
        src="~/assets/img/MIT_logo.svg"
        alt=""
      >
    </a>
  </div>
</template>


<style lang="scss" scoped>
  .logo {
    display: inline-block;
    margin-right: $size-16 * 4;
    height: $size-16 * 2.5;

    @include scalable-screen {
      margin-right: $size-16-vw * 4;
      height: $size-16-vw * 2.5;
    }

    img {
      display: block;
      height: 100%;
    }
  }
</style>
