<template>
  <section class="section">
    <div class="section-wrapper">
      <slot/>
    </div>
  </section>
</template>


<style lang="scss" scoped>
.section {
  position: relative;
  min-height: 100vh;
  padding: ($w-margin * 4) 0;
  display: flex;

  &:not(.first-element) {
    align-items: center;
  }

  @include scalable-screen {
    padding: ($w-margin-vw * 4) 0;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    background: $black;
    width: $size-16;
    height: 2px;
    left: $gutter-size;
    top: 0;
    /* opacity: .5; */

    @include tablet {
      left: 0;
    }

    @include scalable-screen {
      width: $size-16-vw;
    }
  }

  &.first-element {
    margin-top: -($w-margin);
    padding-top: ($w-margin);

    @include scalable-screen {
      margin-top: -($w-margin-vw);
      padding-top: ($w-margin-vw);
    }

    @include fullhd {
    margin-top: -($w-margin * 2);
    padding-top: ($w-margin * 2);
    }

    &:before {
      opacity: 0;
    }
  }

  .section-wrapper {
    margin: 0 auto;

    @include fullhd {
      max-width: $max-article-width;
    }
  }
}

</style>
