<template>
  <li
    class="project-wrapper"
    :class="{'is-open': isOpen}"
  >

    <div class="project">
      <div
        class="top-border"
        @click.prevent="back()"
      >
        <div/>
      </div>

      <div class="article-wrapper">
        <article>
          <Header :isChanging="changingState">
            <h3>{{ project.title }}</h3>
          </Header>

          <div class="project-text">
            <component
              :is="projectContentInstance"
              v-bind="projectContentProps"
            />
          </div>

        </article>

        <div class="creator-dots">
          <CreatorDot
            v-for="(creator, iCreator) in project.creators"
            :key="iCreator"
            :creator="creator"
          />
        </div>

        <div class="project-meta">
          <ProjectMeta
            v-if="project.creators !== undefined"
            :header="$t('default.projFrom')"
            :meta-data="project.creators"
          />
          <ProjectMeta
            v-if="project.links !== undefined"
            :header="$t('default.links')"
            :meta-data="project.links"
            :assets-root="assetsRoot"
          />
        </div>
      </div>

      <div
        class="project-clicker"
        @click.prevent="addHash()"
        v-if="!isOpen"
      />
    </div>

  </li>
</template>


<script>
import CreatorDot from "~/components/BaseProjectCreatorDot.vue"
import Header from "~/components/BaseHeader.vue"
import ProjectMeta from "~/components/BaseProjectMeta.vue"

export default {
  props: {
    project: {
      type: Object,
      required: true,
      default: () => ({})
    },
    assetsRoot: {
      type: String,
      required: true,
      default: ''
    },
  },

  components: {
      CreatorDot,
      Header,
      ProjectMeta
    },

  data () {
    return {
      isOpen: false,
      changingState: false,
      wrapperWidth: Number,
      wrapperHeight: Number,
      wrapperX: Number,
      wrapperY: Number,
      windowWidth: Number,
      windowHeight: Number,
      historyOpen: false
    }
  },

  computed: {
    projectContentInstance () {
      if (this.isOpen)
        return () => import(`~/components/dynamic/BaseProjectContent`)

      return ''
    },
    projectContentProps () {
      if (this.isOpen) {
        return {
          project: this.project,
          assetsRoot: this.assetsRoot
        }
      }

      return {}
    }
  },

  watch: {
    historyOpen (val) {
      if (val) {
        this.open()
      } else {
        this.close()
      }
    },
  },

  methods: {
    addHash () {
      this.$router.push({ hash: '#'+this.project.id })
    },

    back () {
      this.$router.push({ hash: '' })
    },

    open () {
      this.isOpen = true
      this.changingState = true
      this.getWrapperSizes()
      this.getWindowSizes()
      this.resizeProject()
    },

    close () {
      if (this.isOpen && !this.changingState) {
        this.isOpen = false
        this.changingState = true
        this.getWrapperSizes()
        this.getWindowSizes()
        this.resizeProject()
      }
    },

    getWrapperSizes () {
      const wrapper = this.$el
      const wrapperRect = wrapper.getBoundingClientRect()

      this.wrapperWidth = wrapper.clientWidth
      this.wrapperHeight = wrapper.clientHeight
      this.wrapperX = wrapperRect.left
      this.wrapperY = wrapperRect.top
    },

    getWindowSizes () {
      this.windowWidth = this.$store.state.sizes.wWidth
      this.windowHeight = this.$store.state.sizes.wHeight
    },

    lockMainScroll (state = true) {
      const w =  window
      const wW = w.innerWidth
      const doc = document
      const docW = doc.documentElement.clientWidth
      const body = doc.body
      const scrollW = wW - docW

      if (state) {
        body.style.overflow = 'hidden'
        body.style.paddingRight = scrollW + 'px'
      }
      else {
        body.style.overflow = null
        body.style.paddingRight = null
      }
    },

    resizeProject () {
      const projectEl = this.$el.querySelector('.project')
      const style = projectEl.style
      const w = document.documentElement

      this.changingState = true

      // Don't look at me... I'm hideous!
      if (this.isOpen) {
        projectEl.classList.add("is-changing-all")
        projectEl.classList.add("is-opening-all")
        projectEl.classList.remove("is-closing-done")
        style.position = 'fixed'
        style.left = this.wrapperX + 'px'
        style.top = this.wrapperY + 'px'
        style.width = this.wrapperWidth + 'px'
        style.height = this.wrapperHeight + 'px'
        style.zIndex = 100
        style.overflow = 'hidden'

        setTimeout(() => {
          projectEl.classList.add("is-changing")
          projectEl.classList.add("is-opening")
          style.left = '0px'
          style.top = '0px'
          style.width = this.windowWidth + 'px'
          style.height = this.windowHeight + 'px'
          // style.minHeight = this.windowHeight + 'px'
          this.lockMainScroll()

          setTimeout(() => {
            projectEl.classList.remove("is-changing")
            projectEl.classList.remove("is-opening")
            style.width = '100%'
            style.height = '100%'
            style.overflow = null
            // style.minHeight = '100%'

            setTimeout(() => {
              projectEl.classList.add("is-opening-done")
              projectEl.classList.remove("is-changing-all")
              projectEl.classList.remove("is-opening-all")
              this.changingState = false
            }, 50)
          }, 500)
        },10)
      }
      else {
        projectEl.classList.add("is-changing-all")
        projectEl.classList.add("is-closing-all")
        projectEl.classList.remove("is-opening-done")
        style.width = this.windowWidth + 'px'
        style.height = this.windowHeight + 'px'
        style.overflow = 'hidden'
        // style.minHeight = this.windowHeight + 'px'

        setTimeout(() => {
          projectEl.classList.add("is-changing")
          projectEl.classList.add("is-closing")
          style.left = this.wrapperX + 'px'
          style.top = this.wrapperY + 'px'
          style.width = this.wrapperWidth + 'px'
          style.height = this.wrapperHeight + 'px'
          // style.minHeight = null

          setTimeout(() => {
            projectEl.classList.remove("is-changing")
            projectEl.classList.remove("is-closing")
            projectEl.classList.remove("is-closing-all")
            style.position = null
            style.left = null
            style.top = null
            style.width = null
            style.height = null
            style.zIndex = null
            style.overflow = null
            this.lockMainScroll(false)

            setTimeout(() => {
              projectEl.classList.add("is-closing-done")
              projectEl.classList.remove("is-changing-all")
              this.changingState = false
            }, 200)
          }, 500)
        }, 200)
      }
    }
  }
}
</script>


<style lang="scss" scoped>
.project-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: ($gutter-size) !important;
  min-height: $size-20 * 8;

  @include tablet {
    width: calc(50% - #{$gutter-size});
    margin: ($gutter-size / 2) !important;
  }

  @include scalable-screen {
    width: calc(50% - #{$gutter-size-vw});
    margin: ($gutter-size-vw / 2) !important;
  }

  &:focus,
  &:hover,
  &.is-open {
    .project {
      background: $black;
      color: $pampas;
      box-shadow: 0px 4px 8px 0px rgba($black, .2);
      transform: scale(1);
      left: 0;
      top: 0;

      .top-border {
        > div {
          background: $pampas;
        }
      }
    }
  }

  &:focus:not(.is-open),
  &:hover:not(.is-open) {
    .project {
      transform: scale(1.05);
    }
  }

  &.is-open {
    .project {
      z-index: 100;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; /*iOS*/

      .top-border {
        /* position: relative; */
        transition: all .75s $easeOutQuint;
        top: $w-margin;
        left: $w-margin;
        width: $size-16 * 2;
        height: $size-16 * 2;
        cursor: pointer;

        @include scalable-screen {
          top: $w-margin-vw;
          left: $w-margin-vw;
          width: $size-16-vw * 2;
          height: $size-16-vw * 2;
        }

        @include fullhd {
          top: $w-margin * 2;
          left: $w-margin * 2;
        }

        &:focus,
        &:hover {
          &:after {
            transition: transform .5s $easeOutQuint;
            transform: rotate(115deg);
          }

          > div {
            transition: transform .5s $easeOutQuint;
            transform: rotate(25deg);
          }
        }

        &:after {
          transition:
            transform .5s $easeOutQuint .5s,
            opacity .5s $easeOutQuint .5s;
          transform: rotate(135deg);
          opacity: 1;
        }

        > div {
          transition: transform .5s $easeOutQuint .5s;
          transform: rotate(45deg);
        }
      }

      .article-wrapper {
        padding: ($w-margin * 3) ($w-margin / 4);
        overflow-x: hidden;
        overflow-y: auto;

        @include tablet {
          -webkit-overflow-scrolling: touch; /*iOS*/
          padding: $w-margin;
        }

        @include scalable-screen {
          padding: $w-margin-vw;
        }

        @include fullhd {
          padding: $w-margin * 2;
        }
      }

      article {
        header {
          h3 {
            @extend %h1;
            margin-bottom: .833333em;
          }
        }

        .project-text {
          display: block;
          padding-bottom: $w-margin * 2;
          transform: translateY(6em);
          transition:
            transform .75s $easeOutQuint,
            opacity .5s $easeOutQuint;

          @include scalable-screen {
            padding-bottom: $w-margin-vw * 2;
          }
        }
      }

      .project-meta {
        display: flex;
        transform: translateX(-6em);
        transition:
          transform .5s $easeOutQuint,
          opacity .5s $easeOutQuint;
      }

      .creator-dots {
        transition: opacity .5s $easeOutQuint;
        opacity: 0;
      }
    }
  }


  .project {
    position: relative;
    transition:
      background .25s $easeOutQuint,
      transform .5s $easeOutQuint;

    &.is-changing {
      background: $black;
      pointer-events: none;
      transform: scale(1);
      transition:
        top .5s $easeOutQuint,
        left .5s $easeOutQuint,
        width .5s $easeOutQuint,
        min-height .5s $easeOutQuint,
        height .5s $easeOutQuint;

      .top-border {
        &:after {
          background: $pampas;
          opacity: 0;
          transform: rotate(0deg);
        }

        > div {
          background: $pampas;
        }
      }
    }

    &.is-opening-all {
      article {
        .project-text {
          opacity: 0;
        }
      }
      .project-meta {
        opacity: 0;
      }
    }
    &.is-opening-done {
      article {
        .project-text {
          display: block;
          transform: translateY(0);
          opacity: 1;
        }
      }
      .project-meta {
        display: flex;
        transform: translateX(0);
        opacity: 1;
      }
    }

    &.is-closing-all {
      article {
        .project-text {
          display: block;
          transform: translateY(-3em);
        }
      }
      .project-meta {
        display: flex;
        transform: translateX(-3em);
      }
    }
    &.is-closing-done {
      article {
        .project-text {
          display: none;
          opacity: 0;
        }
      }
      .project-meta {
        display: none;
        opacity: 0;
      }
    }

    .top-border {
      transition: all .75s $easeOutQuint .25s;
      position: absolute;
      top: $size-16 / 2;
      left: $size-16 / 2;
      display: flex;
      align-items: center;
      width: calc(100% - (#{$size-16}));
      height: 4px;
      z-index: 1;

      @include scalable-screen {
        top: $size-16-vw / 2;
        left: $size-16-vw / 2;
        width: calc(100% - (#{$size-16-vw}));
      }

      &:after {
        content: '';
        position: absolute;
        transition:
          transform .25s $easeOutQuint,
          opacity .25s $easeOutQuint;
        transform: rotate(0deg);
        background: $pampas;
        /* top: $size-16 / 2; */
        left: 0;
        width: 100%;
        height: 4px;
        z-index: -1;
        opacity: 0;
      }

      > div {
        transition: transform .25s $easeOutQuint;
        display: block;
        width: 100%;
        height: 4px;
        background: $black;
      }
    }

    .article-wrapper {
      width: 100%;
      height: 100%;
      min-height: $size-20 * 8;
      padding: ($size-24) ($size-16) ($size-16 * 3);
      transition: padding .5s $easeOutQuint;
      overflow: hidden;

      @include tablet {
        padding-top: $size-16;
      }

      @include scalable-screen {
        padding: ($size-16-vw) ($size-16-vw) ($size-16-vw * 3);
        min-height: $size-20-vw * 8;
      }
    }

    article,
    .project-meta {
      margin: 0 auto;

      @include fullhd {
        max-width: $max-article-width;
      }
    }

    article {
      /* overflow-x: hidden; */
      header {
        h3 {
          font-size: 1.3em;
          padding: 0;
          margin-bottom: 0em;
          transition:
            margin-bottom .75s $easeOutQuint;
        }
      }

      .project-text {
        display: none;
        opacity: 0;
        transition:
          transform .5s $easeOutQuint,
          opacity .25s $easeOutQuint;
      }
    }

    .project-meta {
      flex-direction: column;
      padding-bottom: $w-margin;
      z-index: 1;
      display: none;
      opacity: 0;
      transition:
        transform .5s $easeOutQuint,
        opacity .25s $easeOutQuint;


      @include tablet {
        flex-direction: row;
        padding: $w-margin $margin-sides-h;
      }

      @include scalable-screen {
        padding: $w-margin-vw $margin-sides-h-vw;
      }

      @include fullhd {
      }

      @include reallywidescreen {
        padding: 0;
        flex-direction: column;
        position: fixed;
        top: $w-margin * 6;
        left: $w-margin * 2;
      }

      > div {
        width: 100%;
        display: block;
        padding: $gutter-size;

        // @extend %container-paddings;

        @include tablet {
          width: 50%;
        }

        @include reallywidescreen {
          width: 100%;
          padding: 0 0 ($gutter-size * 2) 0;
        }
      }

      // .creators {
      //   // background: lightsalmon;
      // }

      // .links {
      //   // background: goldenrod;
      // }
    }

    .creator-dots {
      pointer-events: none;
      position: absolute;
      bottom: $size-16 / 2;
      transition: opacity .5s $easeOutQuint 1s;
      /* display: flex;
      flex-wrap: wrap; */
    }
  }

  .project-clicker {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}
</style>
