<template>
  <header
    v-resize:debounce="onResize"
    :class="{'done-changing': !isChanging}"
  >
    <slot/>
  </header>
</template>


<script>
export default {
  mounted () {
    this.$nextTick(() => {
      this.saveOriginalInnerHTML()
      this.getTextRows()
    })
  },

  props: {
    isChanging: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      originalInnerHTML: Array,
    }
  },

  methods: {
    onResize () {
      this.getTextRows()
    },


    saveOriginalInnerHTML () {
      const hs = this.getInnerHTML()
      const hArray = []

      hs.forEach(h => {
        if (h.className !== 'resize-sensor') {
          hArray.push(h.innerHTML)
        }
      });

      this.originalInnerHTML = hArray
    },

    getInnerHTML () {
      const hArray = [] // Store header child elements
      const headerEl = this.$el // <header></header>
      const hs = headerEl.childNodes // <h1></h1>, <h2></h2>, <h3></h3>, ...

      hs.forEach(h => {
        if (h.className !== 'resize-sensor') {
          hArray.push(h)
        }
      });

      return hArray
    },

    getLines (arr) {
      const bufferLines = []

      arr.forEach((spans, i) => {
        const element = i
        let newOffset = spans[0].offsetTop
        let line = 0

        bufferLines.push([]) // Elements
        bufferLines[element].push([]) // Lines

        spans.forEach(span => {
          // Keep track of distance from top
          const currentOffset = span.offsetTop

          if (currentOffset !== newOffset) {
            newOffset = currentOffset
            bufferLines[element].push([])
            line++
          }

          if (currentOffset === newOffset) {
            bufferLines[element][line] += span.innerHTML
          }
        })
      })

      return bufferLines
    },


    getTextRows () {
      const hs = this.getInnerHTML()

      // Collection of words wrapped in <span></span>
      const spansArray = []

      // Wrap all words in <span></span>
      hs.forEach((h, i) => {
        if (h.className !== 'resize-sensor') {
          h.innerHTML = this.originalInnerHTML[i]
          h.innerHTML = h.innerHTML.replace(/(\S+\s*)/g, "<span>$1</span>")
          spansArray.push(h.querySelectorAll('span'))

        }
      })

      // Get lines
      const lines = this.getLines(spansArray)

      // Now wrap lines in <div></div>
      hs.forEach((h, element) => {
        h.innerHTML = ''

        lines[element].forEach(line => {
          const div = document.createElement('div')
          const divChild = document.createElement('div')
          div.className = 'line'
          divChild.innerHTML = line

          div.appendChild(divChild)
          h.appendChild(div)
        })
      })

    }
  }
}
</script>

<style lang="scss" scoped>
header {
  opacity: 0;
  // > * {
  // }

  &.done-changing {
    opacity: 1;
    > * {

      /deep/ .line {
        overflow: hidden;
        // background: honeydew;

        > div {
          transform: translateY(1.5em);
          animation: animate-header 1s $easeOutQuint .25s forwards;
        }
      }
    }
  }
}

@keyframes animate-header {
  to {
    transform: translateY(-0.1em);
  }
}
</style>
