<template functional>
  <div class="creator-dot-wrapper">
    <div
      class="creator-dot"
      :class="props.creator.uni"
    />
  </div>
</template>


<script>
export default {
  props: {
    creator: {
      type: Object,
      default: () => ({
        uni: "unknown uni"
      })
    }
  }
}
</script>


<style lang="scss" scoped>
.creator-dot-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: $size-16;
  height: $size-16;

  @include scalable-screen {
    width: $size-16-vw;
    height: $size-16-vw;
  }

  .creator-dot {
    background: $black;
    width: $size-16 / 4;
    height: $size-16 / 4;
    border-radius: 100%;

    // uni colors
    &.fhp { background: $color-fhp; }
    &.mit { background: $color-mit; }
  }
}
</style>
