<template>
  <span>
    <i class="arrow">-></i>
    <slot/>
  </span>
</template>


<style lang="scss" scoped>
span {
  &:focus,
  &:hover {
    .arrow {
      transform: translateX(#{$size-16 / 3});
      opacity: 1;
    }
  }

  i {
    display: inline-block;
  }

  .arrow {
    margin-right: $size-16 / 2;
    display: inline-block;
    opacity: 0;
    transition:
      transform .25s $easeOutQuint,
      opacity .25s $easeOutQuint;

    .nuxt-link-exact-active & {
      opacity: 1;
    }
  }
}
</style>
