<template>
  <div
    class="overlay"
    :class="{'is-open': isOpen}"
  >
    <div>
      Active
      <br>Archives
    </div>
  </div>
</template>


<script>
export default {
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  }
}
</script>



<style lang="scss" scoped>
.overlay {
  position: fixed;
  display: flex;
  z-index: -1;
  top: 0;
  right: 0;
  /* bottom: 0; */
  left: 0;
  height: 110vh;
  background: $pampas;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s $easeOutQuint .25s;
  transform: translateY(-2vh);

  &.is-open {
    transition: opacity .5s $easeOutQuint;
    pointer-events: all;
    opacity: 1;
    cursor: pointer;
  }

  > div {
    @extend %h1;
    opacity: .05;
  }
}
</style>
