<template>
  <div>
    <div
      class="sub-header"
      v-if="header.length > 0"
    >
      {{ header }}
    </div>

    <div class="meta">
      <ul>
        <li
          v-for="(data, i) in metaData"
          :key="i"
        >
          <a
            v-if="data.url !== undefined"
            :class="data.uni"
            :href="assetsRoot !== undefined ? assetsRoot + data.url : data.url"
            target="_blank"
          >
            {{
              (data.name === 'website' || data.name === 'documentation')
                ? $t('default.' + data.name)
                : data.name
            }}
          </a>
          <span
            v-else
            class="fake-link"
            :class="data.uni"

          >{{ data.name }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    header: {
      type: String,
      default: ''
    },

    metaData: {
      type: Array,
      default: () => [
        {
          name: 'DATA MISSING!',
          url: 'https://google.com'
        }
      ]
    },

    assetsRoot: {
      type: String,
      default: ''
    }

  }
}
</script>



<style lang="scss" scoped>
.sub-header {
  color: $pampas;
  @extend %small-monospaced;
}

.meta {
  ul {
    font-size: .8em;
    padding: 0;
    margin: 0;
    color: $pampas;
    display: block;

    li {
      line-height: 2;
      display: block;

      a,
      .fake-link {
        color: $pampas;

        @include reallywidescreen {
          display: inline-block;
        }

        &:focus,
        &:hover {
          color: $black;
          background: $pampas;

          &.fhp {
            background: $color-fhp;
            color: $pampas;
          }
          &.mit {
            background: $color-mit;
          }
        }
      }
    }
  }
}
</style>

