<template>
  <div class="bar-top">
    <!-- <NavSemesters/> -->

    <!-- !!Remove if using <NavSemesters/>!! -->
    <div>
      <p>— ss2018</p>
    </div>

    <NavLanguages/>
  </div>
</template>


<script>
// import NavSemesters from '~/components/TheNavSemesters.vue'
import NavLanguages from '~/components/TheNavLanguages.vue'

export default {
  components: {
    // NavSemesters,
    NavLanguages
  }
}
</script>


<style lang="scss" scoped>
.bar-top {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: ($w-margin) (($w-margin / 4) + $gutter-size);
  animation: init-animation 1.75s $easeOutQuint forwards;

  @extend %container-paddings;

  @include tablet {
    animation: init-animation 1.5s $easeOutQuint forwards;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  > * {
    pointer-events: all;
  }

  > div > p {
    padding: 0;
    margin: 0;
    /* opacity: .5; */
  }
}

@keyframes init-animation {
  0%,
  50% {
    opacity: 0;
    transform: translateY(-25vh)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>
