<template>
  <div class="bar-bottom">
    <UniLogos/>
    <NavAnchors/>
  </div>
</template>


<script>
import NavAnchors from '~/components/TheNavAnchors.vue'
import UniLogos from '~/components/BaseUniLogos.vue'

export default {
  components: {
    NavAnchors,
    UniLogos
  }
}
</script>



<style lang="scss" scoped>
.bar-bottom {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  z-index: 9;
  top: $w-margin * 2;
  left: 0;
  pointer-events: none;
  padding: ($w-margin) (($w-margin / 4) + $gutter-size);
  animation: init-animation-mobile 1.6s $easeOutQuint forwards;

  @extend %container-paddings;

  @include tablet {
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    bottom: 0;
    top: unset;
    animation: init-animation 2s $easeOutQuint forwards;
  }

  > * {
    pointer-events: all;
  }


  .uni-logos {
    transition: all .5s $easeOutQuint;
    transform-origin: 0 0;
    opacity: .65;

    &:hover {
      opacity: 1;
    }

    @include tablet {
      display: block;
      transform: rotate(-90deg) translateX(-$size-16 * 2.5) scale(.75);

      &:hover {
        transform: rotate(-90deg) translateX(-$size-16 * 2.5) scale(1);
      }
    }

    @include scalable-screen {
      transform: rotate(-90deg) translateX(-$size-16-vw * 2.5) scale(.75);
    }

    @include reallywidescreen {
      transform: scale(1);
      transform-origin: 0 100%;

      &:hover {
        transform: scale(1.25);
      }
    }

    /deep/ .logo {
      margin-right: $size-24;
      height: $size-16 * 2;

      @include tablet {
        margin-right: $size-16 * 3;
      }

      @include scalable-screen {
        margin-right: $size-16-vw * 3;
        height: $size-16-vw * 2;
      }

    }
  }
}

@keyframes init-animation {
  0%,
  50% {
    opacity: 0;
    transform: translateY(25vh)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes init-animation-mobile {
  0%,
  50% {
    opacity: 0;
    transform: translateY(-25vh)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>
