<i18n>
{
  "de": {
    "COL_L": [
      "Wir betonen ausdrücklich, für den Inhalt externer Links nicht verantwortlich zu sein. Wir haben keinen Einfluss auf Inhalte und Gestaltung verlinkter Seiten und distanzieren uns ausdrücklich von allen Links.",
      "Alle Bilder unterliegen dem Copyright der jewiligen Projektangehörigen."
    ],
    "COL_R": [
      "Verwendete Schriften: <br> <span class='has-line'> <a href='https://www.ibm.com/plex/' target='_blank'>IBM Plex Serif</a> </span> <br> <span class='has-line'> <a href='https://rsms.me/inter/' target='_blank'>Inter UI</a> </span> <br> <span class='has-line'>Courier New</span>",
      "Website: <br> <a href='https://dustinkummer.com/' target='_blank'>Dustin Kummer</a>"
    ]
  },
  "en": {
    "COL_L": [
      "We expressly emphasize that we are not responsible for the content of external links. We have no influence on the content and design of linked sites and dissociate ourselves from all links.",
      "All pictures are subject to the copyright of the respective project members."
    ],
    "COL_R": [
      "Fonts used: <br> <span class='has-line'> <a href='https://www.ibm.com/plex/' target='_blank'>IBM Plex Serif</a> </span> <br> <span class='has-line'> <a href='https://rsms.me/inter/' target='_blank'>Inter UI</a> </span> <br> <span class='has-line'>Courier New</span>",
      "Website: <br> <a href='https://dustinkummer.com/' target='_blank'>Dustin Kummer</a>"
    ]
  }
}
</i18n>


<template>
  <footer>
    <Section id="legal">
      <div class="cols">
        <div class="col col-66">
          <p
            v-for="(p, i) in $t('COL_L')"
            :key="i"
            v-html="p"
          />
        </div>

        <div class="col col-33">
          <p
            v-for="(p, i) in $t('COL_R')"
            :key="i"
            v-html="p"
          />
        </div>
      </div>
    </Section>
  </footer>
</template>


<script>
import Section from "~/components/BaseSection.vue"

export default {
  components: {
    Section,
  },

}
</script>


<style lang="scss" scoped>
.cols {
  .col {
    &.col-33 {
      opacity: .5;
    }
  }

  /deep/ .has-line {
    &:before {
      content: '– '
    }
  }
}
</style>
