<template>
  <nav
    class="nav-semesters"
    :class="[isOpen ? 'is-open' : 'is-closed']"
  >
    <div class="sub-header">
      <span>{{ $t('default.semester') }}</span>
    </div>

    <a
      href="#"
      v-if="!isOpen"
      class="nav-clicker"
      @click.prevent="open()"
    />

    <ul>
      <li
        v-for="(nav, i) in navData"
        :key="i"
      >
        <nuxt-link
          :to="localePath(nav.link)"
          @click.native="close()"
        >
          <SLink>{{ nav.link }}</SLink>
        </nuxt-link>
      </li>
    </ul>

    <Overlay
      :is-open="isOpen"
      @click.native="close()"
    />
  </nav>
</template>

<script>
// Get navigation from json
import navData from "~/assets/nav.json"

import SLink from '~/components/BaseNavSemestersLink.vue'
import Overlay from '~/components/BaseOverlay.vue'

export default {
  components: {
    SLink,
    Overlay
  },

  data () {
    return {
      isOpen: false,
      navData: navData
    }
  },

  methods: {
    open () {
      this.isOpen = true
      document.documentElement.style.overflowY = 'hidden'
    },

    close () {
      this.isOpen = false
      document.documentElement.style.overflowY = null
    },

    setLinkHeight () {
      const lis = this.$el.querySelectorAll('li')

      lis.forEach(li => {
        const childHeight = li.firstChild.getBoundingClientRect().height
        li.style.height = childHeight + 'px'
        console.log(childHeight)
      })
    }
  }
}
</script>


<style lang="scss" scoped>
$height: $size-16 * 2;
$height-vw: $size-16-vw * 2;

.nav-semesters {
  display: inline-block;
  position: relative;
  z-index: 2;

  @extend %font-size;

  &.is-closed {
    .sub-header {
      height: 0;
      margin-bottom: 0;
      opacity: 0;
    }
  }

  &.is-open {
    > ul {
      li {
        a,
        a.nuxt-link-exact-active {
          opacity: 1;
          height: $height;

          @include scalable-screen {
            height: $height-vw;
          }
        }
      }
    }
  }

  .sub-header {
    overflow-y: hidden;
    transition:
      height .5s $easeOutQuint,
      margin-bottom .5s $easeOutQuint,
      opacity .75s $easeOutQuint;

    @extend %small-monospaced;
  }

  .nav-clicker {
    position: absolute;
    left: -.2em;
    right: -.2em;
    top: 0;
    bottom: 0;
    display: block;
    cursor: pointer;
    z-index: 1;

    + ul {
      li {
        a {
          transition:
            color .5s $easeOutQuint,
            background .25s $easeOutQuint,
            height .5s $easeOutQuint,
            opacity .5s $easeOutQuint;
        }
      }
    }

    &:focus,
    &:hover {
      + ul {
        li {
          a {
            background: $black;
            color: $pampas;
          }
        }
      }
    }
  }

  > ul {
    li {
      display: flex;

      a {
        @extend %font-size;
        display: inline-block;
        overflow-y: hidden;
        height: 0;
        opacity: 0;
        transition:
          height .5s $easeOutQuint,
          opacity .5s $easeOutQuint;

        &.nuxt-link-exact-active {
          opacity: 1;
          height: $height;

          @include scalable-screen {
            height: $height-vw;
          }
        }
      }
    }
  }
}
</style>
