<template>
  <scrollactive
    :duration="750"
    :offset="0"
    class="nav-anchors"
    bezier-easing-value="0.23, 1, 0.32, 1"
  >
    <ul>
      <li
        v-for="(id, i) in anchorIDs"
        :key="i"
      >
        <a
          :href="'#' + id"
          class="scrollactive-item"
        >{{ $t('default.' + id) }}</a>
      </li>
    </ul>
  </scrollactive>
</template>


<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState([
      'anchors'
    ])
  },

  watch: {
    anchors (val, oldVal) {
      this.anchorIDs = val
    }
  },

  data () {
    return {
      anchorIDs: [],
    }
  }
}
</script>


<style lang="scss" scoped>
.nav-anchors {
  display: none;

  @include tablet {
    display: block;
  }

  ul {
    transform-origin: 100% 0;
    transform: rotate(90deg) translateX($size-16 * 2);

    @include scalable-screen {
      transform: rotate(90deg) translateX($size-16-vw * 2);
    }

    li {
      display: inline-block;

      &:not(:last-child):after {
        content:'—';
        display: inline;
        padding: 0 ($size-16 / 2);
      }

      a {
        &.is-active {
          text-decoration: underline;
        }
      }
    }
  }
}
</style>
