<template>
  <nav
    class="nav-langs"
    :class="'is-' + $i18n.locale"
  >
    <a
      href="#"
      class="toggle-lang"
      @click.prevent="toggleLang()"
    >
      <span class="lang-en">en</span>
      <div class="toggle-element">
        <div class="bar"/>
      </div>
      <span class="lang-de">de</span>
    </a>
  </nav>
</template>


<script>
export default {
  methods: {
    toggleLang () {
      if (this.$i18n.locale === 'de') {
        this.$router.push(this.switchLocalePath('en'))
        } else {
        this.$router.push(this.switchLocalePath('de'))
      }
    }
  }
}
</script>


<style lang="scss" scoped>
.nav-langs {
  display: inline-block;
  z-index: 1;

  @extend %font-size;

  &.is-de {
    .toggle-lang {
      .lang-en { opacity: .5; }
      .toggle-element {
        .bar:after {
          transform: translateX(#{($size-16 * .75) * $one-third * 2});
        }
      }
    }
  }
  &.is-en {
    .toggle-lang {
      .lang-de { opacity: .5; }
      .toggle-element {
        .bar:after {
          transform: translateX(0);
        }
      }
    }
  }

  .toggle-lang {
    color: $black;
    display: inline-flex;
    margin: 0 -.2em;
    padding: 0 .2em;
    text-decoration: none;
    transition:
      color .5s $easeOutQuint,
      background .25s $easeOutQuint;

    &:focus,
    &:hover {
      background: $black;
      color: $pampas;

      .lang-de,
      .lang-en {
        transition: opacity .5s $easeOutQuint;
      }

      .toggle-element {
        .bar {
          background: rgba($pampas, .25);

          &:after {
            background: $pampas;
          }
        }
      }
    }

    .toggle-element {
      width: $size-16 * .75;
      display: inline-flex;
      align-items: center;
      margin: 0 ($size-16 / 4);

      .bar {
        position: relative;
        width: 100%;
        height: 2px;
        background: rgba($black, .25);
        transition: background .5s $easeOutQuint;

        &:after {
          content: '';
          position: absolute;
          background: $black;
          width: 100% * $one-third;
          height: 100%;
          left: 0;
          top: 0;
          transition:
            transform .5s $easeOutQuint,
            background .5s $easeOutQuint;
        }
      }
    }
  }
}
</style>
