<template>
  <div class="projects-container">
    <ul class="projects">
      <Project
        v-for="(project, i) in projects"
        :key="i"
        :project="project"
        :assets-root="assetsRoot"
        :ref="i"
      />
    </ul>

    <div class="unis">
      <ul>
        <li
          v-for="(uni, iUni) in unis"
          :key="iUni"
          :class="uni"
        >{{ uni }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import Project from "~/components/BaseProject.vue"

export default {
  props: {
    projects: {
      type: Array,
      required: true,
      default: () => [
        { projectName: "No Projects" }
      ]
    },
    assetsRoot: {
      type: String,
      required: true,
      default: ''
    }
  },

  components: {
    Project
  },

  data () {
    return {
      unis: [],
      projectIds: []
    }
  },

  mounted () {
    this.$nextTick(() => {
      this.getUnis()
      this.projectIds = this.getProjectIds()
    })
  },

  watch: {
    '$route' (val, oldVal) {
      // Handle opening/closing Projects with $route history
      // Now it's possible to close modals with back button


      if (val.hash.length > 0 ) {
        function findProjectId (projectId) {
          return `#${projectId}` === val.hash
        }

        const foundProjectId = this.projectIds.findIndex(findProjectId)
        if (foundProjectId === undefined || foundProjectId < 0) {
          Object.keys(this.$refs).forEach((key) => { this.$refs[key][0].historyOpen = false })
        }
        else {
          this.$refs[foundProjectId][0].historyOpen = true
        }
      }
      else if (val.hash.length < 1) {
        function findProjectId (projectId) {
          return `#${projectId}` === oldVal.hash
        }

        const foundProjectId = this.projectIds.findIndex(findProjectId)
        if (foundProjectId === undefined || foundProjectId < 0) {
          Object.keys(this.$refs).forEach((key) => { this.$refs[key][0].historyOpen = false })
        }
        else {
          this.$refs[foundProjectId][0].historyOpen = false
        }
      }
      else {
        console.log('else')
        Object.keys(this.$refs).forEach((key) => { this.$refs[key][0].historyOpen = false })
      }
    }
  },

  methods: {
    event (e) {
      console.log(e)
    },

    getProjectIds () {
      const tempArray = []
      this.projects.forEach((project) => {
        tempArray.push(project.id)
      })

      return tempArray
    },

    getUnis () {
      const projects = this.projects
      let unis = []

      projects.forEach(project => {
        project.creators.forEach(creator => {
          const uni = creator.uni

          if (!checkAvailability(unis, uni)) {
            unis.push(uni)
          }
        })
      })

      function checkAvailability (arr, value) {
        return arr.some((arrValue) => value === arrValue)
      }

      this.unis = unis
    }
  }

}
</script>


<style lang="scss" scoped>
.projects-container {
  display: flex;

  .projects {
    // background: lightcoral;/**/
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      padding: 0 $margin-sides-h;
      margin: 0 (-$gutter-size / 2);
    }

    @include scalable-screen {
      padding: 0 $margin-sides-h-vw;
      margin: 0 (-$gutter-size-vw / 2);
    }
  }

  .unis {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: -1;

    @include tablet {
      display: flex;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: disc;
      list-style-position: inside;
      opacity: 1;
      transform-origin: 50%;

      @extend %small-monospaced;
      @extend %is-uppercased;

      @include tablet {
        transform: rotate(-90deg) translateY(calc(-50vw + #{($w-margin + .5)}));
      }

      @include scalable-screen {
        transform: rotate(-90deg) translateY(calc(-50vw + #{($w-margin-vw + 1.75)}));
      }

      @include fullhd {
        transform: rotate(-90deg) translateY(calc(-50vw + #{($w-margin + .5) * 2}));
      }

      li {
        display: inline-block;
        padding-right: .75em;

        &.fhp { color: $color-fhp }
        &.mit { color: $color-mit }

        &:before {
          content: '•';
          display: inline-block;
          padding-right: .25em;
        }
      }
    }
  }
}
</style>
