/* ibm-plex-serif-regular - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/fonts/ibm-plex-serif-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Serif'), local('IBMPlexSerif'),
       url('~/assets/fonts/ibm-plex-serif-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-regular.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: url('~/assets/fonts/ibm-plex-serif-v4-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Serif Italic'), local('IBMPlexSerif-Italic'),
       url('~/assets/fonts/ibm-plex-serif-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-italic.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-600 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src: url('~/assets/fonts/ibm-plex-serif-v4-latin-600.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Serif SemiBold'), local('IBMPlexSerif-SemiBold'),
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600.woff') format('woff'), /* Modern Browsers */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-600italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  src: url('~/assets/fonts/ibm-plex-serif-v4-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Serif SemiBold Italic'), local('IBMPlexSerif-SemiBoldItalic'),
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~/assets/fonts/ibm-plex-serif-v4-latin-600italic.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}






@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("~/assets/fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("~/assets/fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url("~/assets/fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("~/assets/fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url("~/assets/fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("~/assets/fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url("~/assets/fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("~/assets/fonts/Inter-UI-BoldItalic.woff") format("woff");
}
