
.is-underlined,
.is-underlined-interactive {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: inline-block;
    border-bottom: 2px solid $red;
    left: 0;
    bottom: -.2em;
    width: 100%;
    z-index: -1;
  }
}

.is-underlined-interactive {
  &:after {
    width: 0;
    opacity: .25;
    transition: all .5s $easeOutQuint;
  }

  &:focus,
  &:hover {
    color: $red;

    &:after {
      opacity: 1;
      width: 100%;
    }
  }
}

.is-uppercased,
%is-uppercased {
  text-transform: uppercase;
  letter-spacing: .075em;
}



// Page transitions
.page-enter-active {
  transition:
    opacity 2s $easeOutQuint,
    transform 1.5s $easeOutQuint;
}

.page-leave-active {
  transition: opacity .35s $easeOutQuint;
}

.page-enter-to,
.page-leave {
  transform: translateY(0);
  opacity: 1;
}

.page-enter {
  transform: translateY(25vh)
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
