nav {
  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: $black;
    }
  }

  .nav,
  .nav ul {
    // background: powderblue;/**/
    font-size: $size-16;
    height: $size-24;

    @include scalable-screen {
      font-size: $size-16-vw;
      height: $size-24-vw;
    }

    a {
      padding: (($size-24 - $size-20) * 2);
    }
  }
}
