*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: $pampas;
}

body {
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}



//!!
.container {
  position: relative;
  margin: ($w-margin * 6) ($w-margin / 4) (0);

  @include tablet {
    margin: ($w-margin) ($w-margin) (0);
  }

  @include scalable-screen {
    margin: ($w-margin-vw) ($w-margin-vw) (0);
  }

  @include fullhd {
    margin: ($w-margin * 2) ($w-margin * 2) (0);
  }

  article,
  footer {
    // background: rgba(0, 0, 0, 0) linear-gradient($blue 1px, transparent 1px) repeat scroll left top / 1px (.5em);/**/
    margin: 0;

    img {
      object-fit: cover;
    }

    img,
    video {
      width: 100%;
      border: 4px solid $pampas;
      display: block;

      &.borderless {
        border: none;
      }

      + p {
        margin-top: 1.6em;
      }

      @include tablet {
        width: calc(100% + (#{$w-margin} / 2));
        margin-left: -$w-margin / 4;
        font-size: 16px;
        width: 100%;
        margin-left: 0;
      }
    }

    .cols {
      .col {
        width: 100%;
        padding: 0;
      }

      @include tablet {
        display: flex;
        margin: 0 $w-margin;
        flex-wrap: nowrap;

        .col {
          // margin: 0 ($gutter-size);
          padding: 0 ($gutter-size);
          width: 50%;
          display: flex;
          flex-direction: column;

          &.col-100 {
            width: 100%;
          }

          &.col-66 {
            width: (2/3) * 100%;
          }

          &.col-33 {
            width: (1/3) * 100%;
          }

          &.col-v-center {
            justify-content: center;
          }

          &.col-v-bottom {
            justify-content: flex-end;
          }

          &.col-text-right {
            text-align: right;
          }
        }

        p,
        h4 {
          padding: 0;
        }
      }

      @include scalable-screen {
        margin: 0 $w-margin-vw;

        .col {
          margin: 0 ($gutter-size-vw);
          padding: 0 ($gutter-size-vw);
        }
      }


    }
  }
}



%container-paddings {
  @include tablet {
    padding: $w-margin !important;
  }

  @include scalable-screen {
    padding: $w-margin-vw !important;
  }

  @include fullhd {
    padding: $w-margin * 2 !important;
  }
}


