html {
  font-family: "Inter UI", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include tablet {
    font-size: 16px;
  }

  @include fullhd {
    font-size: 18px;
  }
}

body {
  line-height: 2;
  color: $black;
  font-feature-settings: "liga" 1;
  // letter-spacing: $letter-spacing;
}


br {
  line-height: 1.6;
}

%font-size {
  font-size: $font-size;
  line-height: 1.6;

  @include scalable-screen {
    font-size: $font-size-vw;
  }
}

p,
ul,
ol,
h3 {
  margin-bottom: 1.6em;
  padding: 0 $gutter-size;

  @include tablet {
    padding: 0 $margin-sides-p;
  }

  @include scalable-screen {
    padding: 0 $margin-sides-p-vw;
  }

  @extend %font-size;

  a,
  .fake-link {
    position: relative;
    text-decoration-skip-ink: auto;
    color: $black;
    margin: 0 -.2em;
    padding: 0 .2em;
    transition:
      color .5s $easeOutQuint,
      background .25s $easeOutQuint;

    &:focus,
    &:hover {
      color: $pampas;
      background: $black;
    }
  }

  strong {
    font-weight: 700;
    color: darken($black, 2%);
  }
}

article {
  p {
    hyphens: auto;
  }
}

ul,
ol {
  .container & {
    list-style: none;

    li {
      margin-bottom: 0;
      position: relative;
    }
  }
}

h1,
%h1 {
  $size: 4.5; // rem @ 16px
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: $size * .75 * 1rem;
  margin-bottom: 0;
  line-height: 1.222222;
  padding: 0 $gutter-size;

  @include tablet {
    font-size: $size * 1rem;
    padding: 0 $margin-sides-h;
  }

  @include scalable-screen {
    font-size: $size-16-vw * $size;
    padding: 0 $margin-sides-h-vw;
  }
}

h2,
%h2 {
  $size: 2.5; // rem @ 16px
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: $size * .75 * 1rem;
  margin-top: .25em;
  margin-bottom: 1.5em;
  line-height: 1.2;
  padding: 0 $gutter-size;
  opacity: .5;

  @include tablet {
    font-size: $size * 1rem;
    padding: 0 $margin-sides-h;
    // margin-top: 0;
  }

  @include scalable-screen {
    font-size: $size-16-vw * $size;
    padding: 0 $margin-sides-h-vw;
  }
}

h3 {
  @extend %h1
}

%small-monospaced {
  font-family: 'Courier New', Courier, monospace;
  font-size: .7em;
  opacity: .5;
  color: $black;
  display: block;
  line-height: 2.286;
  height: $size-16 * 2;
  margin-bottom: $size-16 / 2;

  @include scalable-screen {
    height: $size-16-vw * 2;
    margin-bottom: $size-16-vw / 2;
  }
}

h4 {
  font-family: "Inter UI", sans-serif;
  color: #fff;
  opacity: 1;
  padding: 0 $gutter-size;
  margin-top: 1.6em;
  margin-bottom: .8em;
  font-weight: bold;

  @include tablet {
    padding: 0 $margin-sides-p;
  }

  @include scalable-screen {
    padding: 0 $margin-sides-p-vw;
  }

  @extend %h2;
}

p + h4 {
  margin-top: 1.6em * 2;
}
