
// Units (using 8px)
// (1rem = 16px)



// Layout sizes
$one-third: 1 / 3;

$size-16: 1rem; // 16px @ font-size: 16px
$size-20: 1.25rem; // 20px @ font-size: 16px
$size-24: 1.5rem; // 24px @ font-size: 16px

$size-16-vw: 1.6vw;  // 16px @ 1000px
$size-20-vw: 2vw;  // 20px @ 1000px
$size-24-vw: 2.4vw;  // 24px @ 1000px

$full-w-width: 100vw;
$max-article-width: 62.5rem; // 1000px @ font-size: 16px

$w-margin: $size-20 * 2;
$w-margin-vw: $size-20-vw * 2;
$gutter-size: $size-24; // 24px @ font-size: 16px
$gutter-size-vw: $size-24-vw; // 24px @ 1000px
$column-width: $max-article-width / 10;
$column-width-vw: $full-w-width / 10;



$margin-sides-p-vw: $column-width-vw * 2 + $size-24-vw * 1;
$margin-sides-h-vw: $column-width-vw * 1 + $size-24-vw * 1;
$margin-sides-p: $column-width * 2 + $size-24 * 1;
$margin-sides-h: $column-width * 1 + $size-24 * 1;


$font-size: $size-20;
$font-size-vw: $size-20-vw;
$letter-spacing: .025em;



// Colors
$black: #333;
$red: #f33;
$pampas: #F9F8F5;

// Uni Colors
$color-fhp: #0773B6;
$color-mit: #FCCD03;




// Easing
// $easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
// $easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
// $easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);



// Device sizes
$tablet: 769px;
$desktop: 960px;
$widescreen: 1280px;
$fullhd: 1366px;
$reallywidescreen: 1920px;
