<template>
  <div
    id="main"
    v-resize:debounce.initial="onResize"
  >

    <BarTop/>
    <BarBottom/>

    <div id="init">
      <nuxt/>
    </div>

  </div>
</template>


<script>
import BarTop from '~/components/TheBarTop.vue'
import BarBottom from '~/components/TheBarBottom.vue'

export default {
  components: {
    BarTop,
    BarBottom
  },

  mounted () {
    this.$nextTick(() => {
      this.$router.push(this.$route.path)
    })
  },

  methods: {
    onResize () {
      const wHeight = window.innerHeight
      const wWidth = window.innerWidth

      const sizes = {
        wHeight: wHeight,
        wWidth: wWidth
      }

      this.$store.commit('SET_SIZES', sizes)
    },
  }
}
</script>


<style lang="scss" scoped>
#main {
  position: relative;
  display: inline-block;

  @include tablet {
    display: block;
  }
}

#init {
  animation: init-animation 1.5s $easeOutQuint;
}

@keyframes init-animation {
  0%,
  50% {
    opacity: 0;
    transform: translateY(25vh)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>
