<i18n>
{
  "de": {
    "HEAD": {
      "DESC": "DESC EINFÜGEN"
    },
    "intro": [
      "Only the Infinite is real. We are the universe in ecstatic dance. Eternity is not endless duration but timeless now. Love is ultimate reality. The time is always now. The finite is a momentary experience within the Infinite. Awareness being infinite has infinite perspectives. The building blocks of the physical world called waves and particles are mathematical abstractions in consciousness. In every act of perception we convert quantum information into a three dimensional universe evolving in time.",
      "Our essential nature is formless. 'I' is not a person but that in which a person is a changing activity. Nature is a self regulating ecosystem of awareness. Every breath is a prayer. Consciousness creates physical reality through quantum music. You are a unique expression of pure consciousness. Attention & intention are the mechanics of manifestation. Being is the only invariant in every passing dream. Now is not a moment in time."
    ]
  },

  "en": {
    "HEAD": {
      "DESC": "ADD DESC"
    },
    "intro": [
      "Energy is a human construct in human awareness. The time is always now. Everyday reality is a notion. All modes of knowing and all phenomenon known in the matrix of cosmic consciousness. We must understand the consciousness in which species-specific knowing and experience occurs. Existence is a seamless wholeness and of the nature of awareness. Attention & intention are the mechanics of manifestation. As pure consciousness, you are the immeasurable potential of all that was, all that is, and all that will be. Awareness is the source of all constructs.",
      "The irreducible essence of existence is pure awareness. Every breath is a prayer. Nature is a self regulating ecosystem of awareness. Consciousness creates physical reality through quantum music. Awareness being infinite has infinite perspectives. You are a unique expression of pure consciousness. Being is the only invariant in every passing dream. Reality is one formless awareness. The lucid and vivid now is the cusp of a wave riding the ocean of infinity."
    ]
  }
}
</i18n>


<template>
  <section class="container">
    <article>

      <Section
        id="intro"
        class="first-element"
      >
        <Header>
          <h1>Active Archives</h1>
          <h2>Engaging Interfaces</h2>
        </Header>

        <!-- Top Cover Image -->
        <img
          src="https://via.placeholder.com/1200x600"
          alt=""
        >

        <!-- Text -->
        <p
          v-for="(paragraph, i) in $t('intro')"
          :key="i"
          v-html="paragraph"
        />
      </Section>

      <Section id="projects">
        <TheProjects
          :projects="projectsData"
          :assets-root="'assets/ss2018'"
        />
      </Section>
    </article>

    <TheFooter/>

  </section>
</template>


<script>
// !!IMPORTANT! for semester content!
import projectsData from "~/assets/projects-data/ss2018.json"

// Mixins
import anchorElements from '~/mixins/anchorElements'

// Components
import Section from "~/components/BaseSection.vue"
import Header from "~/components/BaseHeader.vue"
import TheProjects from "~/components/TheProjects.vue"
import TheFooter from '~/components/TheFooter.vue'

export default {
  head () {
    return {
      meta: [
        { hid: 'description', name: 'description', content: 'My custom description' }
      ]
    }
  },

  components: {
    TheProjects,
    Section,
    Header,
    TheFooter,
  },

  mixins: [
    anchorElements
  ],

  mounted () {
    this.$nextTick(() => {
      console.log('page mounted', process.env.NODE_ENV)

      this.createAnchors()
    })
  },

  data () {
    return {
      projectsData,
      activeLocale: this.$i18n.locale
    }
  }
}
</script>
