<script>
export default {
  // FUNCTIONAL COMPONENT
  functional: true,

  props: {
    project: {
      type: Object,
      required: true,
      default: () => ({})
    },
    assetsRoot: {
      type: String,
      required: true,
      default: ''
    }
  },

  render (h, { props, parent }) {
    const LOCALE = parent.$i18n.locale
    const PROJECT = props.project
    const IMG_ROOT = props.assetsRoot

    function isObject (value) {
      return value && typeof value === 'object' && value.constructor === Object;
    }

    function isImage (value) {
      return value.type === "img"
    }

    function isH4 (value) {
      return value.type === "h4"
    }

    function isVideo (value) {
      return value.type === "video"
    }

    function isVimeo (value) {
      return value.type === "vimeo"
    }


    function renderImage (data) {
      return (
        <img
          src={ IMG_ROOT + data.src }
          alt={ data.alt }
          class={
            data.class !== 'undefined' || data.class.length > 0
            ? data.class
            : ''
          }
        />
      )
    }

    function renderVideo (data) {
      return (
        <video
          muted
          autoplay
          loop
          src={ IMG_ROOT + data.src }
          poster={
            data.poster !== 'undefined' || data.poster.length > 0
            ? IMG_ROOT + data.poster
            : ''
          }
          class={
            data.class !== 'undefined' || data.class.length > 0
            ? data.class
            : ''
          }
        ></video>
      )
    }

    function renderVimeo (data) {
      return (
        <div>
          <div style='padding:54.05% 0 0 0;position:relative;'>
            <iframe
              src={ data.src }
              style="position:absolute; top:0; left:0; width:100%; height:100%;"
              frameborder="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
            />
          </div>
          <script src="https://player.vimeo.com/api/player.js" />
        </div>
      )
    }

    function renderH4 (data) {
      if (data.isWide)
        return (
          <div class='cols'>
            <div class='col col-100'>
              <h4>{ data.content }</h4>
            </div>
          </div>
        )

      return <h4>{ data.content }</h4>
    }

    function renderP (data) {
      return h('p', { domProps: { innerHTML: data } })
    }


    // RENDER!!
    return (
      <div>
        <img
          src={ IMG_ROOT + PROJECT.cover.file }
          alt={ PROJECT.cover.desc }
        />

        {PROJECT.description[LOCALE].map(item => {
          if (isObject(item)) {
            if (isImage(item))
              return renderImage(item)

            else if (isVideo(item))
              return renderVideo(item)

            else if (isVimeo(item))
              return renderVimeo(item)

            else if (isH4(item))
              return renderH4(item)

            return (
              <div class='cols'>
                {item.content.map(col => {

                  return (
                    <div class={
                      col.class !== 'undefined' || col.class.length > 0
                      ? 'col ' + col.class
                      : 'col'
                    }>
                      {col.content.map(c => {
                        if (isImage(c))
                          return renderImage(c)

                        else if (isVideo(c))
                          return renderVideo(c)

                        else if (isVimeo(c))
                          return renderVimeo(c)

                        return renderP(c)
                      })}
                    </div>
                  )

                })}
              </div>
            )
          } // END if (isObject(item))

          return renderP(item)
        })}
      </div>
    )
  }
}
</script>


<style lang="scss" scoped>
p {
  /deep/ a,
  /deep/ strong,
  /deep/ em {
    color: $pampas;

    &:focus,
    &:hover {
      color: $black;
      background: $pampas;
    }
  }
}

img {
  margin-bottom: 1.6em;

}

.cols {
  .col {
    padding: 0 ($gutter-size);
  }
}
</style>
